header{
    width: 100%;
    height: 70px;
    /*background-color: lightpink;*/

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.page-heading{
    width: 300px;
    height: 50px;
    background-color: white;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;

    animation: floating 5s cubic-bezier(0.37,0,0.63,1) infinite;
}
.page-heading div{
    height: 95%;
    width: 8.5%;
    background-color: #2E2328;

    border-radius: 6px;
}
.page-heading h3 {

    position: absolute;
    bottom: 2%;
    left: 10%;
    margin: auto;

    font-family: "Inter",sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    -webkit-text-fill-color: #2E2328;
}
@keyframes floating {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,1vh);
    }
    100%{
        transform: translate(0,0);
    }
}
/*---------------------------content---------------------------*/
.pane{
    width: 100%;
    height: 80%;

    position: absolute;
    left: 0;
    top: 70px;

    opacity: 0;
}
.radio-navigation{
    width: 17%;
    height: 80%;

    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.case-nav{
    width: 100%;
    height: 15%;

    background-color: #7fd5f6;
    margin: 7px 0 7px 0;
    position: relative;
    z-index: 99;
}
.case-nav input{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    cursor: pointer;
}
.case-nav label{
    position: absolute;
    top: 25%;
    right: 78px;
    margin: auto;

    font-family: "Inter",sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    -webkit-text-fill-color: grey;
}
.case-nav hr{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    margin: auto;

    rotate: 90deg;
    height: 45px;
}
/*case panes*/
.case-pane{
    width: 80%;
    height: 100%;
    background-color: #eebb5c;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.5%;
}
.case-pane-heading{
    width: 20%;
    height: 10%;

    background-color: #3b5998;

    position: absolute;
    left: 10px;
    top: 10px;
}
.case-pane-heading div{
    width: 10%;
    height: 80%;

    background-color: grey;
    border-radius: 5px;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.case-pane-heading h3{
    position: absolute;
    left: 15%;
    top: -25px;

    font-family: "Inter",sans-serif;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-fill-color: grey;
}
/*----------------assignment pan 1----------------*/
#assignment-pane-1{
    background-color: #bc2a8d;
}
#assignment-pane-1 .radio-navigation{
    background-color: #3b5998;
}
#assignment-1-case-1-pane{
    opacity: 1;
}
#assignment-1-case-2-pane{
    opacity: 0;
}
#assignment-1-case-3-pane{
    opacity: 0;
}
#assignment-1-case-4-pane{
    opacity: 0;
}
#assignment-1-case-5-pane{
    opacity: 0;
}
#assignment-1-case-6-pane{
    opacity: 0;
}
/*----------------assignment pan 2----------------*/
#assignment-pane-2{
    background-color: darkslategrey;
}
#assignment-pane-2 .radio-navigation{
    background-color: lightblue;
}
#assignment-2-case-1-pane{
    opacity: 1;
}
#assignment-2-case-2-pane{
    opacity: 0;
}
#assignment-2-case-3-pane{
    opacity: 0;
}
#assignment-2-case-4-pane{
    opacity: 0;
}
#assignment-2-case-5-pane{
    opacity: 0;
}
#assignment-2-case-6-pane{
    opacity: 0;
}
/*----------------assignment pan 3----------------*/
#assignment-pane-3{
    background-color: orange;
}
#assignment-pane-3 .radio-navigation{
    background-color: darkblue;
}
/*----------------assignment pan 4----------------*/
#assignment-pane-4{
    background-color: deepskyblue;
}
#assignment-pane-4 .radio-navigation{
    background-color: deeppink;
}
#assignment-3-case-1-pane{
    opacity: 1;
}
#assignment-3-case-2-pane{
    opacity: 0;
}
/*---------------------------footer---------------------------*/
footer{
    width: 100%;
    height: 70px;
    background-color: white;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.right-arrow{
    width: 2.5%;
    height: 60%;

    background-color: white;

    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.right-arrow img{
    height: auto;
    rotate: 180deg;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;

}
input[name="assignment-trigger"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.assignment{
    width: 88.5%;
    height: 60%;

    background-color: white;

    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
    margin: auto;

}
.assignment label{
    font-family: "Inter",sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    margin-right: 20px;
    -webkit-text-fill-color: #2E2328;
    cursor: pointer;
}
/*------------------classes------------------*/
.underline{
    text-decoration: underline;
}