#page-assignment{
    position: absolute;
    top: 200vh;
    height: 350%;
    width: 100%;
    background-color: #2E2328;
    overflow-y: hidden;
}
#page-assignment>h1{
    position: absolute;
    left: 0;
    right: 0;
    top: 1%;
    margin: auto;

    -webkit-text-fill-color: white;
    font-size: 8vw;
    font-family: "Inter",sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;

    animation: floating 5s cubic-bezier(0.37,0,0.63,1) infinite;

    z-index: 9999;
}
#page-assignment>.dots{
    width: 40%;
    height: 85%;
    position: absolute;
    left: 20px;
    top: 40px;

    opacity: 0.4;
    background-image: -webkit-repeating-radial-gradient(circle,pink,pink 3px,transparent 3px,transparent 100%);
}
.assignment-pane{
    width: 98%;
    height: 90%;
    background-color: #ADADAD;

    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: auto;

    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}




