#page-assignment{
    position: absolute;
    top: 200vh;
    height: 350%;
    width: 100%;
    background-color: #2E2328;
    overflow-y: hidden;
}
#page-assignment>h1{
    position: absolute;
    left: 0;
    right: 0;
    top: 1%;
    margin: auto;

    -webkit-text-fill-color: white;
    font-size: 8vw;
    font-family: "Inter",sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;

    animation: floating 5s cubic-bezier(0.37,0,0.63,1) infinite;

    z-index: 9999;
}
#page-assignment>.dots{
    width: 40%;
    height: 85%;
    position: absolute;
    left: 20px;
    top: 40px;

    opacity: 0.4;
    background-image: -webkit-repeating-radial-gradient(circle,pink,pink 3px,transparent 3px,transparent 100%);
}
.assignment-pane{
    width: 98%;
    height: 90%;
    background-color: #ADADAD;

    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: auto;

    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;

    z-index: 9999;
}
.grid-item {
    background-color: #59454F;
    border-radius: 30px;
    padding: 20px;
    font-size: 10px;
    text-align: center;

    border: 3px solid #2E2328;

    position: relative;
}
.assignment-pane > .grid-item >.case-img{
    background-color: #bc2a8d;
    width:100%;
    height: 50%;
    border-radius: 10px;
}
#case-01{
    background-image: url("/img/compressed/COMPRESSED_asg-01_c-01.png");
    background-size: 100% 100%;
}
#case-02{
    background-image: url("/img/compressed/COMPRESSED_asg-01_c-02.gif");
    background-size: 100% 100%;
}
#case-03{
    background-image: url("/img/compressed/COMPRESSED_asg-01_c-03.gif");
    background-size: 100% 100%;
}
#case-04{
    background-image: url("/img/compressed/COMPRESSED_asg-01_c-04.gif");
    background-size: 100% 100%;
}
#case-05{
    background-image: url("/img/compressed/COMPRESSED_asg-01_c-05.png");
    background-size: 100% 100%;
}
#case-06{
    background-image: url("/img/compressed/COMPRESSED_asg-01_c-06.png");
    background-size: 100% 100%;
}
#case-07{
    background-image: url("/img/compressed/COMPRESSED_asg-02_c-01.gif");
    background-size: 100% 100%;
}
#case-08{
    background-image: url("/img/compressed/COMPRESSED_asg-02_c-02.gif");
    background-size: 100% 100%;
}
#case-09{
    background-image: url("/img/compressed/COMPRESSED_asg-02_c-03.gif");
    background-size: 100% 100%;
}
#case-10{
    background-image: url("/img/compressed/COMPRESSED_asg-02_c-04.gif");
    background-size: 100% 100%;
}
#case-11{
    background-image: url("/img/compressed/COMPRESSED_asg-02_c-05.gif");
    background-size: 100% 100%;
}
#case-12{
    background-image: url("/img/compressed/COMPRESSED_asg-02_c-06.gif");
    background-size: 100% 100%;
}
#case-13{
    background-image: url("/img/compressed/COMPRESSED_asg-08_c-01.gif");
    background-size: 100% 100%;
}
#case-14{
    background-image: url("/img/compressed/COMPRESSED_asg-08_c-02.gif");
    background-size: 100% 100%;
}
#case-15{
    background-image: url("/img/compressed/COMPRESSED_asg-09.gif");
    background-size: 100% 100%;
}
.grid-item>p{
    -webkit-text-fill-color: lightgrey;
    font-size: 2em;
    font-family: "Inter",sans-serif;
    font-weight: 900;
}
.grid-item>p:first-of-type{
    position: absolute;

    top: 52%;
    left: 6%;
}
.grid-item>p:nth-of-type(2){
    position: absolute;

    top: 52%;
    right: 10%;
}
.grid-item>p:nth-of-type(3){
    position: absolute;

    top: 75%;
    left: 6%;
}
.grid-item>a{
    position: absolute;left: 6%;
    -webkit-text-fill-color: cornflowerblue;
    font-size: 2.5em;
    font-family: "Inter",sans-serif;
    font-weight: 900;
}
.grid-item>a:first-of-type{top: 63%;}
.grid-item>a:nth-of-type(2){top: 68%;}
.grid-item>a:nth-of-type(3){top: 73%;}

.grid-item>h2{
    position: absolute;

    top: 63%;
    right: 12%;

    -webkit-text-fill-color: black;
    font-size: 1.8em;
    font-family: "Inter",sans-serif;
    font-weight: 900;
}


