/*-------------PAGE ASSIGNMENTS---------------*/
#page-assignment{
    position: absolute;
    top: 200vh;
    height: 110%;
    width: 100%;
    background-color: white;
    overflow-y: hidden;
    position: absolute;
}
#page-assignment>h3{
    -webkit-text-fill-color: #2E2328;
    font-size: 8vw;
    font-family: "Inter",sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;

    animation: floating 5s cubic-bezier(0.37,0,0.63,1) infinite;
}
#select-assignment-section{
    height: 60%;
    width: 6%;
    /*background-color: #00aced;*/

    position: absolute;
    top: 35%;
    left: 10px;
}
#select-assignment-section>div{
    width: 90%;
    height: 15%;

    /*background-color: #3b5998;*/
    margin: 25% 0 10% 6%;
    position: relative;
}
#select-assignment-section>div>h3{
    -webkit-text-fill-color: grey;
    font-size: 4vw;
    font-family: "Inter",sans-serif;
    font-weight: 900;
    display: flex;

    position: absolute;
    top: 20%;
    left: 20%;
    margin: auto;

    cursor: pointer;
}
