/*-------------ASSIGNMENTS---------------*/
#page-assignment{
    position: absolute;
    top: 200vh;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-y: hidden;
    position: absolute;
}
#page-assignment>h3{
    -webkit-text-fill-color: #2E2328;
    font-size: 8vw;
    font-family: "Inter",sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;

    animation: floating 5s cubic-bezier(0.37,0,0.63,1) infinite;
}
.vertical-line-assignment{
    width: 2%;
    height: 95%;

    border-radius: 5px;

    position: absolute;
    bottom: 0%;
    left: 0.3%;
    background-color: purple;
}
.scroll-pane-horizontal{
    height: 5%;
    width: 97%;
    background-color: #00aced;
    position: absolute;
    bottom: 0%;
    left: 2.5%;
}
#assignments>div>h1{
    font-family: "Inter",sans-serif;
    font-weight: 1000;
    font-size: 3.5em;
    -webkit-text-fill-color: red;

    position: absolute;
    top: 1%;
    bottom: 0;
    left: 3%;
    margin: auto;
}
/*--------------scroll panes--------------------*/
#assignments{
    width: 100%;
    height: 70%;

    background-color: #3b5998;

    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
}
.assignment-section{
    width: 98.5%;
    height: 13%;

    background-color: #ADADAD;
    margin: 8px;
    position: absolute;
}
.assignment-section:nth-of-type(2){
    top: 15%;
}
.assignment-section:nth-of-type(3){
    top: 30%;
}
.assignment-section:nth-of-type(4){
    top: 45%;
}
.assignment-section:nth-of-type(5){
    top: 60%;
}
