
/*#box-1{*/
/*    border: 1px solid blue;*/
/*    width: 30em;*/
/*    height: 20px;*/
/*    margin: 5px;*/
/*}*/
/*#box-2{*/
/*    border: 1px solid green;*/
/*    width: 40em;*/
/*    height: 20px;*/
/*    margin: 5px;*/
/*}*/
/*#box-3{*/
/*    border: 1px solid orangered;*/
/*    width: 50em;*/
/*    height: 20px;*/
/*    margin: 5px;*/
/*}*/
/*#box-4{*/
/*    border: 1px solid purple;*/
/*    width: 60em;*/
/*    height: 20px;*/
/*    margin: 5px;*/
/*}*/
/*#box-5{*/
/*    border: 1px solid greenyellow;*/
/*    width: 70em;*/
/*    height: 20px;*/
/*    margin: 5px;*/
/*}*/
/*#box-6{*/
/*    border: 1px solid mediumpurple;*/
/*    width: calc(100% - 7px);*/
/*    height: 20px;*/
/*    margin: 5px;*/
/*}*/
/*header{*/
/*    width: 100%;*/

/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*}*/

/*header*/
header>#menu>li{
    font-family: Oxygen;
    -webkit-text-fill-color: grey;
    display: inline-block;
    margin-top: 3vh;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
}
header>#menu>li:first-child{
    position: absolute;
    top: 0;
    left: 2vw;
}
header>#menu>li:nth-child(2){
    position: absolute;
    top: 0;
    left: 20vw;
}
header>#menu>li:nth-child(4){
    position: absolute;
    top: 0;
    right: 2vw;
}
header>#menu>li:nth-child(3){
    position: absolute;
    top: 0;
    right: 25vw;
}
@media (min-width: 50em) {
    header>#menu>li:first-child{
        position: absolute;
        top: 0;
        left: 2vw;
    }
    header>#menu>li:nth-child(2){
        position: absolute;
        top: 0;
        left: 23vw;
    }
    header>#menu>li:nth-child(4){
        position: absolute;
        top: 0;
        right: 5vw;
    }
    header>#menu>li:nth-child(3){
        position: absolute;
        top: 0;
        right: 30vw;
    }
}
/*contact-side-bar*/
.wrapper{
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 0;
    /*contact list invisible*/
}
ul{
    list-style: none;
}
ul li{
    width: 50px;
    height: 50px;
    position: relative;
    background: #e59500;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
ul li .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
}
ul>li:first-child{
    background: #3b5998;
}
ul>li:nth-child(2){
    background: #00aced;
}
ul>li:nth-child(3){
    background: #bc2a8d;
}
ul>li:nth-child(4){
    background: #dd4b39;
}
ul>li:nth-child(5){
    background: #4dc347;
}
ul>li:nth-child(6){
    background: grey;
}
ul>li:nth-child(7){
    background: blue;
}
ul>li:first-child>.slider{
    background: #627aac;
}
ul>li:nth-child(2)>.slider{
    background: #7fd5f6;
}
ul>li:nth-child(3)>.slider{
    background: #dd94c6;
}
ul>li:nth-child(4)>.slider{
    background: #eea59c;
}
ul>li:nth-child(5)>.slider{
    background: #82d47e;
}
ul>li:nth-child(6)>.slider{
    background: #ADADAD;
}
ul>li:nth-child(7)>.slider{
    background: #2929FF;
}
.slider{
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    width: 0px;
    height: 50px;
    background: #eebb5c;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease-in;
}
.slider>p{
    font-family: Arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    right: 0;
    margin: auto;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
}
ul li:hover .slider{
    width: 180px;
    transition: all 0.5s ease;
}
ul li:hover .slider p{
    opacity: 1;
    transition: all 1s 0.2s ease;
}
/*---------------HOME---------------------*/
.section-my-name{
    height: 50%;
    width: 100%;
    position: absolute;
    font-family: "Inter",sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;

    animation: floating 5s cubic-bezier(0.37,0,0.63,1) infinite;
}
#section-1{
    background-color: white;
    -webkit-text-fill-color: grey;
    font-size: 13vw;
    top: 50px;
}
#section-2{
    background-color: pink;
    top: 50vh;
    -webkit-text-fill-color: #2E2328;
    font-size: 11vw;
}
.tilt{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tilting 10s cubic-bezier(0.37,0,0.63,1) infinite;
}
section > span {
    transition: font-weight 0.4s ease-in;
    animation: floating-secondary 2.5s cubic-bezier(0.37,0,0.63,1) infinite;
}
section > span:nth-child(1){
    animation-delay: 1s;
}
section > span:nth-child(2){
    animation-delay: 2s;
}
section > span:nth-child(3){
    animation-delay: 3s;
}
section > span:nth-child(4){
    animation-delay: 4s;
}
section > span:nth-child(5){
    animation-delay: 5s;
}
section > span:nth-child(6){
    animation-delay: 6s;
}
section > span:nth-child(7){
    animation-delay: 7s;
}
section > span:hover{
    font-weight: 100;
}
@keyframes floating {
    0%{
       transform: translate(0,0);
    }
    50%{
        transform: translate(0,5vh);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes floating-secondary {
    0%{
       transform: translate(0,0);
    }
    50%{
        transform: translate(0,1vh);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes tilting {
    0%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(1deg);
    }
}
/*------------ABOUT ME-----------------*/
#page-about-me{
    position: absolute;
    top: 100vh;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-y: hidden;
}
#page-about-me>div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
#page-about-me>div>div{
    border: 1px solid lightgrey;
}
#page-about-me>div>div:first-child{
    background-color: white;
    font-family: Oxygen;
    -webkit-text-fill-color: grey;
    font-size: 100px;
    position: relative;
}
#page-about-me>div>div:first-child>p{
    margin-bottom: 30px;
    margin-top: 1px;
    margin-left: 20px;
}
#page-about-me>div>div:nth-child(2){
    background-image: -webkit-repeating-radial-gradient(circle,lightgrey,lightgrey 3px,transparent 3px,transparent 100%);
    background-size: 13px 16px;
    animation: slide 4s linear infinite;
}
@keyframes slide {
    from{
        background-position-x: 0;
    }
    to{
        background-position-x: -300px;
    }
}
#page-about-me>div>div:nth-child(3){
    background-color: pink;
}
#page-about-me>div>div:nth-child(4){
    background-color: white;
    font-family: Oxygen;
    -webkit-text-fill-color: grey;
    font-size: 100px;
    position: relative;
}
#page-about-me>div>div:nth-child(4)>p{
    margin-bottom: 30px;
    margin-top: 1px;
    margin-left: 20px;
    alignment: left;
}
#page-about-me>div>div:nth-child(5){
    background-color: pink;
}
#page-about-me>div>div:nth-child(6){
    background-color: white;
    font-family: Oxygen;
    -webkit-text-fill-color: grey;
    font-size: 100px;
    position: relative;
}
#page-about-me>div>div:nth-child(6)>p{
    margin-bottom: 30px;
    margin-top: 1px;
    margin-left: 20px;
    alignment: center;
}
#page-about-me>div>div:nth-child(7){
    background-color: lightgrey;
    grid-column: 3/5;
    grid-row: 2/4;
}
#page-about-me>div>div:nth-child(8){
    background-color: white;
    font-family: Oxygen;
    -webkit-text-fill-color: grey;
    font-size: 100px;
    position: relative;
}
#page-about-me>div>div:nth-child(8)>p{
    margin-bottom: 30px;
    margin-top: 1px;
    margin-left: 20px;
    alignment: center;
}
#page-about-me>div>div:nth-child(9){
    background-image: repeating-linear-gradient(45deg,lightgrey,lightgrey 4px,#fff 4px,#fff 12px);
    animation: spin 4s linear infinite;
}
@keyframes spin {
    from{
        background-position: 0 0;
    }
    to{
        background-position:0 220px;
    }
}
#page-about-me>div>div:nth-child(10){
    background-color: white;
    font-family: Oxygen;
    -webkit-text-fill-color: grey;
    font-size: 150px;
    position: relative;
    grid-column: 1/3;
    animation: move-to-side 6s infinite ease-in;
}
@keyframes move-to-side {
    0%{
        width: 100%;
    }
    50%{
        width: 150%;
    }
    100%{
        width: 100%;
    }
}
#page-about-me>div>div:nth-child(10)>p{
    margin-bottom: 30px;
    margin-top: 1px;
    margin-left: 20px;
    alignment: left;

    animation: move-to-side-p 5s infinite ease-in-out;
    position: absolute;
}
@keyframes move-to-side-p {
    0%{
        right: -5px;
    }
    50%{
        right: 40px;
    }
    100%{
        right: -5px;
    }
}
#page-about-me>div>div:nth-child(11){
    background:
            linear-gradient(135deg,#fff 32%,transparent 32%) -15px 0,
            linear-gradient(225deg,#fff 32%, transparent 32%) -15px 0,
            linear-gradient(315deg,#fff 32%,transparent 32%),
            linear-gradient(45deg,#fff 32%,transparent 32%);
    background-size: 30px 30px;
    background-color: lightgrey;
    background-repeat: repeat;
    min-width: 10px;
    animation: slide-up 4s infinite linear,shrink 1.7s infinite ease-out;
}
@keyframes slide-up {
    0%{
        background-position-y: 0;
    }
    100%{
        background-position-y: -300px;
    }
}
/*@keyframes shrink {*/
/*    0%{*/
/*        width: 100%;*/
/*    }*/
/*    50%{*/
/*        width: 0;*/
/*    }*/
/*    100%{*/
/*        width: 100%;*/
/*    }*/
/*}*/
#page-about-me>div>div:nth-child(12){
    background-color: white;
    font-family: Oxygen;
    font-size: 150px;
    position: relative;
    -webkit-text-fill-color: grey;
}
#page-about-me>div>div:nth-child(12)>p{
    margin-bottom: 30px;
    margin-top: 1px;
    margin-left: 20px;
    alignment: left;
}
#page-about-me>div>div:nth-child(12)>#contacts{
    font-family: Oxygen;
    font-size: 15px;
    position: absolute;
    top: 70px;
    right: 100px;
}
/*-----------------------------*/
/*#page-about-me{*/
/*    opacity: 0;*/
/*}*/
#page-home{
    opacity: 1;
}
#page-assignment{
    opacity: 0;
}
#page-project{
    opacity: 0;
}
#page-contact{
    opacity: 0.9;
}
